
 body .book_page {
     font-family: Arial, sans-serif;
     background-color: #f4f4f4;
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
     /* تعديل الترتيب إلى عمودي */
     align-items: center;
     min-height: 100vh;
 }

 .book_page h1 {

     color: rgba(0, 0, 0, 0.815);
     width: 100%;
     text-align: center;
     margin: 0;
     padding: 20px 0;

 }

 .book_page .booking-container {
     background: #fff;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     width: 100%;
     max-width: 400px;
     margin-top: 20px;
     /* لتوفير مسافة بين العنوان والنموذج */
 }

 .book_page form label {
     margin: 10px 0 5px;
     display: block;
     font-weight: bold;
     color: #555;
 }

 .book_page form input,
 .book_page form select,
 .book_page form button {
     width: 100%;
     padding: 10px;
     margin: 5px 0 15px;
     border: 1px solid #ddd;
     border-radius: 4px;
     font-size: 16px;
 }

 .book_page form button {
     background-color: #007bff;
     color: white;
     border: none;
     cursor: pointer;
     transition:background-color 0.3s ease;
 }

 .book_page form button:hover {
     background-color: #007bffcb;
 }